<nav class="nav">
  <div class="brand">
    <a routerLink="/" class="brand-link">CampusConnect</a>
  </div>

  <div class="links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>

    <a *ngIf="canSeeChat()" routerLink="/chat" routerLinkActive="active">Chat</a>

    <a *ngIf="canSeeAnnouncements()" routerLink="/announcements" routerLinkActive="active">
      Announcements
    </a>

    <a *ngIf="canSeeMaintenance()" routerLink="/maintenance" routerLinkActive="active">
      Maintenance
    </a>

    <a *ngIf="canSeeAdminLookup()" routerLink="/admin/users" routerLinkActive="active">
      Admin Users
    </a>
    <a *ngIf="canSeeAdminLookup()" routerLink="/admin-housing" routerLinkActive="active">
      Admin Housing
    </a>

    <a *ngIf="isLoggedIn()" routerLink="/profile" routerLinkActive="active" aria-label="Profile">
      Profile
    </a>

    <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active">
      Login
    </a>
  </div>

  <div class="right">
   
    <div class="session" *ngIf="(user$ | async) as u; else loggedOut">
      <span class="pill">
        {{ (u.name || u.email) }} • {{ (u.role || '') | uppercase }}
      </span>

      <button class="logout" type="button" (click)="logout()">
        Logout
      </button>
    </div>

    <ng-template #loggedOut>
      <span class="pill pill-off">Not logged in</span>
    </ng-template>
  </div>
</nav>